:root {
    --foreground: #2f5f96;
    --background: #fff8ee;
    --link: #ffd56a;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none
}

mark {
    background-color: transparent;
    color: inherit
}

input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type="text"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    line-height: 1.0;
    word-wrap: break-word;
    overflow-x: hidden;
    background-color: var(--background);
    color: var(--foreground);
    font-size: 12pt;
    font-family: Ubuntu, sans-serif;
}

u {
    text-decoration: underline;
}

strong {
    color: inherit;
    font-weight: bolder;
}

em {
    font-style: italic;
}

a {
    color: var(--link);
    text-decoration: underline;
}

s {
    text-decoration: line-through;
}

html, body {
    height: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}
.wrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

body {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

body > .main > .wrapper > header {
    float: left;
    width: 25%;
}

body > .main > .wrapper > header > img {
    width: 80%;
    margin: 10%;
}

body > .main > .wrapper > article {
    float: left;
    width: 75%;
    line-height: 1.75;
    padding-left: 8%;
    padding-right: 5%;
    font-size: 1.875rem;
}

body > .main > .wrapper > article > p {
    margin-bottom: 2rem;
}

body > .main > .wrapper > footer {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

@media (max-width: 1680px) {
    html { font-size: 13pt; }
}
@media (max-width: 1280px) {
    html { font-size: 11pt; }
}
@media (max-width: 980px) {
    html { font-size: 10pt; }
}
@media (max-width: 750px) {
    html { font-size: 9pt; }
}
@media (max-width: 640px) {
    html { font-size: 8pt; }
    body > .main > .wrapper > header,
    body > .main > .wrapper > article {
        width: 100%;
    }
}
